
.archive-content-projection-container {
    /* margin-left: 350px;   */
    padding: 12px;
    background-color: white; /* Light background for the content area */
    /* Ensure that this area is to the side of the sidebar according to the styles above (no top nav) */
    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: margin-left 0.2s ease-out; 
    flex-grow: 1; /* Take remaining space */

    scrollbar-width: none;
    -ms-overflow-style: none;

}

.archive-content-projection-container::-webkit-scrollbar {
    display: none;
}
.archive-content-projection-container::-webkit-scrollbar-thumb {
    background: #d0d7de;
    border-radius: 8px;
}

